@font-face {
    font-family: 'halflings-regular';
    src: url(./fonts/glyphicons-halflings-regular.eot);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'halflings-regular', sans-serif;
}

p {
    line-height: 1.8;
}

.container {
    width: 95%;
    margin: 0 auto; 
}

section {
    padding: 5%;
}

header {
    background-image: url('./images/banner3.jpg');
    background-size: cover;
    padding: 20% 3% 10% 3%;;
}

h2 {
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 1.2px;
    text-align: center;
    font-weight: 500;
}

.btn-holder {
    text-align: center;
    margin-top: 30px;
}

.header-btn-link {
    text-decoration: none;
    background-color: #1d6fb2;
    padding: 10px 20px;
    border-radius: 20px;
    letter-spacing: 1.1px;
}

.header-btn {
    color: #fff;
}

/* navigation */

h1 {
    text-align: center;
    color: #777;
    font-size: 2rem;
    font-weight: bold;
}

.build {
    color: #fd9727;
    border: 5px solid #777;
    border-right: 0;
    padding: 1px 0 1px 10px;
}

nav {
    margin-top: 40px;
    margin-bottom: 70px;
}

.main-ul {
    background-color: #81c3f5;
    text-align: center;
    padding: 5px 0;
    list-style-type: none;
}
.main-li {
    padding: 10px;
}

.main-link {
    color: #eaecee;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 30%;
}

/* section-1 */
.section-heading {
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

.separator {
    height: 2px;
    width: 120px;
    background-color: black;
    display: block;
    margin: 10px auto;
}

h4 {
    color: #53a2e0;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 20px 0;
}

.section-1-ul {
    list-style-type: none;
}

.section-1-ul{
    margin-top: 30px;
}

.section-1-li {
    padding: 10px 0;
    color: #777;
}







