.holder {
    width: 50%;
    margin: 0 auto;
}

h1 {
    color: darkred;
    text-align: center;
}
.element-1 {
    background-color: red;
    width: 200px;
    height: 200px;
}

.element-2 {
    background-color: yellow;
    width: 200px;
    height: 200px;
}

.element-3 {
    background-color: green;
    width: 200px;
    height: 200px;
}

.element-4 {
    background-color: red;
    width: 200px;
    height: 200px;
    position: relative;
}

.element-5 {
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 100px;
    left: 100px;
}

.element-6 {
    background-color: green;
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 200px;
    left: 200px;
}

.absolute-holder {
    position: relative;
}

.element-7 {
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.element-8 {
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: 1;
}

.element-9 {
    background-color: green;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 200px;
    top: 200px;
}